body {
	background-color: #FFF;
}

.register .card-header {
  background-color: #F8F8F8;
  background-color: var(--ai-bg-light, #F8F8F8);
	text-align: center;
	font-size: 120%;
	font-weight: bold;
}

.register .btn-primary {
  display: block;
  margin: auto;
  margin-top: 1.5rem;
}

.basket-mini {
	display: inline-block;
  background: none;
}

.basket-mini-main,
.basket-mini > a:before,
.basket-mini-product .basket-toggle {
  color: #BA9A5A;
}

.locale-select ul.select-menu {
  margin: 0;
}

@media(max-width: 991px) {
  .basket-mini-product {
    display: none;
  }
}
